# Model and training artifacts
*.safetensors
*.pt
*.pth
*.ckpt
*.bin

# Task 2.4 outputs
C:\dev\nlp_-_rl_mipt_course\task2\4\outputs_zetan_byt5_notebook\best_model\model.safetensors
C:\dev\nlp_-_rl_mipt_course\task2\4\outputs_zetan_byt5_notebook\last_model\model.safetensors
